<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/feed.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <body>
    <%-include('./partials/nav.ejs')%>
      <div class="container">
        <% posts.forEach(function(elem){ %>
          <div class="box">
            <img src="/images/uploads/<%= elem.image %>" alt="image">
            <div class="caption">
              <%= elem.title %>
            </div>
          </div>
          <% }) %>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="app.js"></script>
  </body>
</body>
</html>